<div class="container">
  <div class="footer-container">
    <div class="logo">
      <img src="assets/logo.jpg" alt="logo-canango">
    </div>
    <div class="sections">
      <h2 style="color: #fc4c10">Conocenos:</h2>
      <a href="#calidad">¿Quienes Somos?</a>
      <a href="#servicios">Servicios</a>

    </div>
    <div class="redes">
      <h2 style="color: #fc4c10">Siguenos en:</h2>
      <a target="_blank" href="https://www.facebook.com/CanangoCafe"><i class="fab fa-facebook"> </i> Facebook </a>
      <a href=""><i class="fab fa-linkedin"> </i> LinkedIn</a>
    </div>
  </div>
</div>
