
<nav>
  <div class="up-container">
    <ul class="up-menu">
      <li><i class="fas fa-phone-alt"></i>  907 339 117</li>
      <li><i class="fas fa-envelope"></i> Informes@canango.com</li>
    </ul>
  </div>
  <div class="container">
    <div class="logo"><a href="#"><img src="assets/Logo-canango.png" alt="Canango-logo" width="200"></a></div>
    <input type="radio" name="slider" id="menu-btn">
    <input type="radio" name="slider" id="close-btn">
    <ul class="nav-menu">
      <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
      <li><a href="#"  (click)="closeMenu()">Inicio</a></li>
      <li><a href="#calidad" (click)="closeMenu() " >¿Quienes Somos? </a></li>
      <li><a  href="#servicios" (click)="closeMenu()">Servicios </a></li>
      <li><a href="#why"(click)="closeMenu() " >¿Porque elegirnos? </a></li>
      <li><a href="#contact" (click)="closeMenu() " >Contáctenos </a></li>

    </ul>
    <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars" style="color: #fc4c10"></i></label>
  </div>
</nav>









