<div class="cover-image">
  <div class="overlay">
    <div class="txt">
      <h1 class="titulo">Certificaciones:</h1>
      <span>En <strong>Canango Group</strong>, te ofrecemos una amplia gama de servicios relacionados con certificaciones y capacitaciones técnicas. Nuestro compromiso es garantizar que estés preparado y certificado para enfrentar los desafíos técnicos y de seguridad. Descubre lo que podemos hacer por ti:</span>
      <br>
      <br>
      <a href="https://wa.me/51907339117" class="btn"> Solicita Informacion</a>
    </div>
  </div>
</div>
<div class="txt-service">

  <div class="content">

    <div class="text">
      <h2 style="color: #fc4c10">Desarrollamos los siguientes servicios:</h2>
      <br><br>

      <ul>
        <li><strong>Capacitaciones técnicas:</strong> Te proporcionamos formación especializada para fortalecer tus habilidades técnicas y conocimientos.</li>
        <li><strong>Certificados para INDECI:</strong> Te ayudamos a obtener los certificados necesarios para cumplir con las regulaciones de INDECI y garantizar la seguridad en tus instalaciones.</li>
        <li><strong>Pruebas de funcionamiento:</strong> Realizamos pruebas exhaustivas para asegurarnos de que tus sistemas y equipos funcionen de manera óptima y segura.</li>
      </ul>
      <p>Confía en nosotros para brindarte los servicios de certificación y capacitación que necesitas para tener éxito en tu campo. Tu seguridad y preparación son nuestra prioridad.</p>
    </div>
    <div class="img">
      <img src="assets/capacitacion.webp" alt="">
      <img src="assets/indeci.jpeg" alt="">

    </div>
  </div>
  <br>
</div>
<section id="otservices">
  <h2 style="width: 60%;margin-left: 15%;color: #fc4c10">Otros servicios que ofrecemos:</h2>
  <br>
  <br>
  <div class="content-service">

    <div class="grid">
      <div  class="ventas  posicion">
        <div class="overlay "></div>
        <p class="texto">Diseño y fabricacion</p>
        <button (click)="dyfrouter()" class="boton">Ver Detalles</button>
      </div>
      <div  class="certificaciones  posicion">
        <div class="overlay"></div>
        <p class="texto">Venta de equipos</p>
        <button (click)="venta()" class="boton">Ver Detalles</button>
      </div>

      <div  class="instalacion  posicion">
        <div class="overlay "></div>
        <p class="texto">Diseño, instalación y
          mantenimiento:
        </p>
        <button  (click)="instalacion()" class="boton">Ver Detalles</button>
      </div>
    </div>
  </div>
</section>



