<div class="cover-image">
  <div class="overlay">
    <div class="txt">
    <h1 class="titulo">Diseño y fabricación:</h1>
    <span>En nuestro mundo impulsado por la innovación y la precisión, te ofrecemos una amplia gama de servicios especializados para llevar tus proyectos al siguiente nivel. Nuestro compromiso es proporcionarte soluciones de ingeniería de primera clase. Con experiencia en una variedad de disciplinas.</span>
      <br>
      <br>
    <a href="https://wa.me/51907339117" class="btn">
      Solicita Informacion
    </a>
    </div>
  </div>
</div>
<div class="txt-service">

  <div class="content">
    <div class="text">
      <h2 style="color: #fc4c10">Desarrollamos los siguientes servicios:</h2>

  <ul>
    <li><strong>Modelado 3D en SolidWorks:</strong> Transformamos tus ideas en modelos tridimensionales de alta precisión, aprovechando la potencia de SolidWorks.</li>
    <li><strong>Elaboración de planos en AutoCad:</strong> Creación detallada de planos técnicos que cumplen con los más altos estándares de la industria.</li>
    <li><strong>Actualización de planos:</strong> Mantenemos tus documentos técnicos al día, reflejando los cambios y mejoras realizados en tus proyectos.</li>
    <li><strong>Mejora de sistemas mecánicos:</strong> Optimizamos y refinamos sistemas mecánicos para lograr un rendimiento superior y eficiencia.</li>
    <li><strong>Fabricación de estructuras y piezas metálicas:</strong> Creamos estructuras y piezas metálicas de alta calidad que cumplen con tus necesidades y especificaciones.</li>
    <li><strong>Máquinas Ergonómicas:</strong> Diseñamos máquinas y sistemas ergonómicos que mejoran la eficiencia y la comodidad en tu lugar de trabajo.</li>
  </ul>
    <p>Nuestra dedicación a la excelencia y la calidad nos distingue. Confía en nosotros para transformar tus conceptos en realidades tangibles. ¡Tu éxito es nuestra prioridad!</p>
    </div>
    <div class="img">
      <img src="assets/solid.png" alt="">
      <img src="assets/auto.png" alt="">
    </div>
  </div>
  <br>
</div>
<section id="otservices">
  <h2 class="subtitulo" style="width: 60%;margin-left: 15%;color: #fc4c10">Otros servicios que ofrecemos:</h2>
  <br>
  <br>
  <div class="content-service">

    <div class="grid">
    <div  class="certificaciones  posicion">
      <div class="overlay"></div>
      <p class="texto">Certificaciones</p>
      <button (click)="certificaciones()" class="boton">Ver Detalles</button>
    </div>
    <div  class="ventas  posicion">
      <div class="overlay "></div>
      <p class="texto">Venta de equipos</p>
      <button (click)="venta()" class="boton">Ver Detalles</button>
    </div>
    <div  class="instalacion  posicion">
      <div class="overlay "></div>
      <p class="texto">Diseño, instalación y
        mantenimiento:
      </p>
      <button  (click)="instalacion()" class="boton">Ver Detalles</button>
    </div>
    </div>
  </div>
</section>

