<div class="cover-image">
  <div class="overlay">
    <div class="txt">
      <h1 class="titulo">Diseño, instalación y
        mantenimiento: </h1>
      <span>En <strong>Nuestra Empresa</strong>, ofrecemos una amplia gama de servicios técnicos especializados que abarcan desde sistemas contra incendios hasta soluciones de control y automatización. Descubre lo que podemos hacer por ti:</span>
      <br>
      <br>
      <a href="https://wa.me/51907339117" class="btn"> Solicita Informacion</a>
    </div>
  </div>
</div>
<div class="txt-service">

  <div class="content">

    <div class="text">
      <h2 style="color: #fc4c10">Desarrollamos los siguientes servicios:</h2>

      <ul>
        <li><strong>Sistemas Contra Incendios:</strong> Diseño e instalación de sistemas de protección contra incendios.</li>
        <li><strong>Sistemas de Bombeo:</strong> Soluciones de presión constante, sistemas hidroneumáticos y bombeo de agua.</li>
        <li><strong>Sistemas de Almacenamiento de Agua:</strong> Incluyendo tanques elevados y sistemas de impulsión de agua.</li>
        <li><strong>Suministro de Agua:</strong> Incluye bombas sumergibles y pozos profundos.</li>
        <li><strong>Piscinas y Riego:</strong> Diseño y construcción de piscinas, sistemas de riego tecnificado.</li>
        <li><strong>Tableros Eléctricos:</strong> Generales, de fuerza y de control para la gestión de sistemas.</li>
        <li><strong>Pozos a Tierra:</strong> Instalación y mantenimiento de sistemas de puesta a tierra.</li>
        <li><strong>Telemetría:</strong> Control a distancia y monitoreo de sistemas a través de telemetría.</li>

      </ul>
      <p>Nuestra dedicación a la excelencia y la calidad nos distingue. Confía en nosotros para transformar tus conceptos en realidades tangibles. ¡Tu éxito es nuestra prioridad!</p>
    </div>
    <div class="img">
      <img src="assets/calidadimg.jpg" alt="">
      <img src="assets/poso.jpg" alt="">
    </div>
  </div>
  <br>
</div>
<section id="otservices">
  <h2 style="width: 60%;margin-left: 15%;color: #fc4c10">Otros servicios que ofrecemos:</h2>
  <br>
  <br>
  <div class="content-service">

    <div class="grid">
      <div  class="certificaciones  posicion">
        <div class="overlay"></div>
        <p class="texto">Diseño y fabricacion</p>
        <button (click)="dyfrouter()" class="boton">Ver Detalles</button>
      </div>
      <div  class="ventas  posicion">
        <div class="overlay "></div>
        <p class="texto">Venta de equipos</p>
        <button (click)="venta()" class="boton">Ver Detalles</button>
      </div>
      <div  class="instalacion  posicion">
        <div class="overlay "></div>
        <p class="texto">Certificaciones
        </p>
        <button  (click)="certificaciones()" class="boton">Ver Detalles</button>
      </div>
    </div>
  </div>
</section>

