
<div class="cover-image">
  <div class="overlay">
    <div class="txt">
      <h1 class="titulo">Venta de Equipos :</h1>
      <span>Ofrecemos una variedad de equipos de alta calidad que satisfacen tus necesidades y especificaciones. Nuestra selección incluye:</span>
      <br>
      <br>
      <br>
      <a href="https://wa.me/51907339117" class="btn"> Solicita Informacion</a>
    </div>
  </div>
</div>
<div class="txt-service">

  <div class="content">

    <div class="text">
      <h2 style="color: #fc4c10">Desarrollamos los siguientes servicios:</h2>

      <ul>
        <li><strong>Electrobombas de agua:</strong> Equipos confiables y eficientes para el bombeo de agua.</li>
        <li><strong>Motobombas de agua:</strong> Soluciones versátiles y potentes para tus necesidades de bombeo.</li>
        <li><strong>Equipamiento de piscinas:</strong> Productos diseñados para mantener y mejorar tus instalaciones acuáticas.</li>
        <li><strong>Equipos contra incendios:</strong> Sistemas de seguridad esenciales para proteger tu entorno contra incendios.</li>
        <li><strong>Válvulas en general:</strong> Componentes clave para controlar el flujo en una variedad de aplicaciones.</li>
      </ul>
      <p>En <strong>Canango Group</strong>, nos enorgullece ofrecer una amplia gama de soluciones en equipos que impulsarán el éxito de tu proyecto. Nuestra experiencia y compromiso con la excelencia nos distinguen en el mercado. Descubre cómo nuestros equipos de alta calidad pueden satisfacer tus necesidades y especificaciones:</p>
    </div>
    <div class="img">
      <img src="assets/electrobomba.jpg" alt="">
      <img src="assets/fuego.jpg" alt="">

    </div>
  </div>
  <br>
</div>
<section id="otservices">
  <h2 style="width: 60%;margin-left: 15%;color: #fc4c10">Otros servicios que ofrecemos:</h2>
  <br>
  <br>
  <div class="content-service">

    <div class="grid">
      <div  class="ventas  posicion">
        <div class="overlay "></div>
        <p class="texto">Diseño y fabricacion</p>
        <button (click)="dyfrouter()" class="boton">Ver Detalles</button>
      </div>
      <div  class="certificaciones  posicion">
        <div class="overlay"></div>
        <p class="texto">Certificaciones</p>
        <button (click)="certificaciones()" class="boton">Ver Detalles</button>
      </div>

      <div  class="instalacion  posicion">
        <div class="overlay "></div>
        <p class="texto">Diseño, instalación y
          mantenimiento:
        </p>
        <button  (click)="instalacion()" class="boton">Ver Detalles</button>
      </div>
    </div>
  </div>
</section>


